{% extends "../includes/layout.twig" %}

{% block title %}Webpack 4 template{% endblock %} 
{% block meta_description %}Quick start template using webpack 4{% endblock %} 
{% block meta_keywords %}webpack, frontend{% endblock %} 

{% block body_class %}jelly{% endblock %} 

{% block main %}
<main>
    <h1>Index 2</h1>
</main>
{% endblock %}